<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{% url "index" %}"
               class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none me-5">
                OLX Clone
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                {% if user.is_authenticated %}
                    <li><a href="{% url "index" %}" class="nav-link px-2 text-white">Home</a></li>
                    <li><a href="{% url "create-ad" %}" class="nav-link px-2 text-white">Create Ad</a></li>
                    <li><a href="{% url "my-ads" %}" class="nav-link px-2 text-white">My Ads</a></li>
                {% endif %}
            </ul>

            <div class="text-end">
                {% if user.is_authenticated %}
                    <span class="me-2">Welcome, <span class="text-primary">{{ user.get_username|title }}</span></span>
                    <a type="button" href="{% url "logout" %}" class="btn btn-warning">Log out</a>
                {% else %}
                    <a href="{% url "login" %}" type="button" class="btn btn-outline-light me-2">Login</a>
                    <a href="{% url "register" %}" type="button" class="btn btn-warning">Sign-up</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
