{% extends "listing/layout.html" %}

{% block extra_styles %}

    .bd-placeholder-img {
    width: 100%;
    height: 225px;
    object-fit: cover;
    }
{% endblock %}

{% block title %}
    Home | OLX
{% endblock %}

{% load static %}

{% block content %}
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8">
            <h1 class="fw-light">Fresh recommendations</h1>
        </div>
    </div>
    {% if not object_list %}
        <div class="row">
            <div class="col-12 text-center mt-5 mb-5">
                <h2>Currently there are no ads to display. Check back later!</h2>
            </div>
        </div>
    {% endif %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        {% for ad in page_obj %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{% static "images/" %}{{ ad.image_set.first }}" alt="ad image"
                         class="bd-placeholder-img card-img-top">

                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="card-text">{{ ad.title }}</p>
                            <p class="card-text">{{ ad.city.name }}</p>
                        </div>
                        <h3 class="card-text">Rs. {{ ad.price }}</h3>
                        <p class="card-text">{{ ad.short_description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url "ad-details" pk=ad.id %}"
                                   class="btn btn-sm btn-outline-secondary">View</a>
                            </div>
                            <small class="text-muted">{{ ad.created_at|timesince }}</small>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row py-lg-5">
        <div class="col d-flex flex-row-reverse">
            <nav aria-label="Listing page navigation">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}
                    <li class="page-item">
                        <span class="current page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. </span>
                    </li>
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last
                            &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
