{% extends 'listing/base.html' %}
{% load crispy_forms_filters %}

{% block layout %}
    {% load crispy_forms_tags %}
    <main style="height: 95vh">
        <div class="row align-items-center h-100">
            <div class="col-4 m-auto">
                {% if messages %}
                    {% for message in messages %}
                        <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}
                                                  role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                <div class="form-signin w-100 h-100"></div>
                <form method="POST">
                    {% csrf_token %}
                    <h1 class="h3 mb-3 fw-normal">Please Login!</h1>

                    {{ login_form|crispy }}

                    <button class="w-100 btn btn-lg btn-primary mt-2" type="submit">Login</button>
                    <sub>Don't have an account? <a href="/register">Register here</a></sub>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
