{% extends "listing/layout.html" %}

{% block title %}
    My ads
{% endblock %}

{% block extra_styles %}
    .bd-placeholder-img {
        width: 100%;
        height: 225px;
        object-fit: cover;
    }
{% endblock %}

{% load static %}

{% block content %}
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8">
            <h1 class="fw-light">Your listings</h1>
        </div>
    </div>
    {% if not object_list %}
        <div class="row">
            <div class="col-12 text-center mt-5 mb-5">
                <h2>You do not have published any ads yet!</h2>
            </div>
        </div>
    {% endif %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for ad in object_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{% static "images/" %}{{ ad.image_set.first }}" alt="ad image"
                         class="bd-placeholder-img card-img-top">

                    <div class="card-body">
                        <p class="card-text">{{ ad.title }}</p>
                        <h3 class="card-text">Rs. {{ ad.price }}</h3>
                        <p class="card-text">{{ ad.address }}, {{ ad.city.name }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url "ad-details" pk=ad.id %}" class="btn btn-sm btn-outline-secondary">View</a>
                                <a href="{% url "update-ad" pk=ad.id %}" class="btn btn-sm btn-outline-info">Edit</a>
                                <a href="{% url "delete-ad" pk=ad.id %}"
                                   class="btn btn-sm btn-outline-danger">Delete</a>
                            </div>
                            <small class="text-muted">{{ ad.created_at|timesince }}</small>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}