{% extends 'listing/base.html' %}
{% load crispy_forms_filters %}

{% block title %}
Register
{% endblock %}

{% block layout %}
    {% load crispy_forms_tags %}
    <main style="height: 95vh">
        <div class="row align-items-center h-100">
            <div class="col-4 m-auto">
                {% if messages %}
                    {% for message in messages %}
                        <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}
                                                  role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    <p><a href="{% url "index" %}" class="text-decoration-none"> &lArr; Go back to the homepage</a></p>
                    <h1 class="h3 mb-3 fw-normal">Please Register!</h1>

                    {{ form|crispy }}

                    <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
                    <sub>Already have an account? <a href="{% url "login" %}">Login here</a></sub>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
