{% extends "listing/layout.html" %}
{% load crispy_forms_filters %}

{% block title %}
    Edit ad
{% endblock %}

{% block content %}
    <div class="row align-items-center h-100">
        <div class="col-9 m-auto">
            {% if messages %}
                {% for message in messages %}
                    <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}
                                              role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">Edit your ad!</h1>

                {{ form|crispy }}

                    <div class="text-center">
                        <button class="w-50 btn btn-lg btn-primary" type="submit">Update</button>
                    </div>
            </form>
        </div>
    </div>
{% endblock %}
